{% extends 'blog/base.html' %}
{% block content %}
<section class="page-section" id="services">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center mt-0">READ</h2>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        hashtag 검색
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for hashtag in hashtags.all %}
        <a class="dropdown-item" href="{% url 'search' hashtag.id %}">{{ hashtag.name }}</a>
        {% endfor %}
      </div>
    </div>
    <br>
    <br>
    <br>







    {% for posts in posts.all %}
    <p>제목 : <a href="{% url 'detail' posts.id %}">{{ posts.title }}</a></p>
    <p>작성자 : {{ posts.writer }}</p>
    <p>날짜 : {{ posts.pub_date }}</p>
    {% if posts.image %}
    <img src="{{ posts.image.url }}" width="250" height="250" alt="Card image cap">
    {% endif %}
    {% for hashtag in blog.hashtags.all %}
        <span>{{ hashtag.name }}</span>
    {% endfor %}
    <hr>
    {% endfor %}
</div>
</section>
{% endblock %}